.shopWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 1rem;
}

.itemCard {
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    border: 1px solid black;

}