.registerWrapper {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.registerFormCard {
    width: 20rem;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid;
    background-color: var(--frozen-water);
    padding: 2rem 1rem;
    border-radius: 0.6rem;
}

.formHeader {
    text-align: center;
}

.registerButton {
    margin-top: 1rem;
    border: 3px solid black;
    padding: 1rem;
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 1.4rem;

    &:hover {
        background-color: darkgrey;
        color: white;
    }
}

.formNavigation {
    all: unset;
    text-align: center;

    &:hover {
        font-weight: 600;
        cursor: pointer;

    }
}