:root {
    /* Font families */
    --font-ui: "Inter", system-ui, sans-serif;
    --font-heading: "Space Grotesk", sans-serif;
    --font-jb-mono: "JetBrains Mono", sans-serif;
    --font-game-pixel: "Jersey 10", sans-serif;

    /* Font weights */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;

    /* spacing */
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 3rem;
    --space-3xl: 5rem;
    --space-4xl: 8rem;

    /* radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;

    /* Borders */
    --border-thin: 1px;
    --border-medium: 2px;
    --border-thick: 3px;

    /* Shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.15);
    --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.25);
    --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.35);

    /* Font sizes */
    --font-size-xs: 0.75rem;
    /* 12px - inventory labels */
    --font-size-sm: 0.875rem;
    /* 14px - UI buttons */
    --font-size-md: 1rem;
    /* 16px - general text */
    --font-size-lg: 1.25rem;
    /* 20px - small headings */
    --font-size-xl: 1.5rem;
    /* 24px - H3 */
    --font-size-2xl: 1.75rem;
    /* 28px - H2 */
    --font-size-3xl: 2.25rem;

    --font-size-4xl: 5rem;
    /* Line heights */
    --lh-tight: 1.2;
    --lh-normal: 1.5;
    --lh-relaxed: 1.6;

    /* Color palette */

    /* Ocean serenity */
    --color-shadow-grey: #161925ff;
    --color-jet-black: #022b3aff;
    --color-twilight-indigo: #23395bff;
    --color-teal: #1f7a8cff;
    --color-rich-cerulean: #406e8eff;
    --color-powder-blue: #8ea8c3ff;
    --color-frozen-water: #cbf7edff;


    /* Game related */

    /* UI panels */
    --panel-bg: var(--jet-black);
    --panel-border: var(--rich-cerulean);

    /* rarity colors */
    --rarity-common: #b8b8b8;
    --rarity-rare: #3fa7ff;
    --rarity-epic: #b44cff;
    --rarity-legendary: #ff9f1c;


    /* GAME COLORS */

    --game-yellow: #FFC13E;
    --game-orange: #FF7E3C;
    --game-medium-blue: #426798;
    --game-dark-blue: #293952;
    --game-light-blue: #78AFD5;

}