/* those are for testing */

.appWrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    /* sidebar + main */
    min-height: 100vh;
}

.sidebar {
    background: var(--color-surface);
    border-right: 1px solid #ddd;
    padding: var(--space-md);
}

.main {
    padding: var(--space-lg);
}

.footer {
    grid-column: 1 / -1;
    padding: var(--space-md);
    text-align: center;
    color: var(--color-text);
}