/* those are for testing */
.layoutBackground {
    background-color: var(--frozen-water);
    min-height: 100vh;
}

.appWrapper {
    display: grid;
    grid-template-columns: 1fr 15rem;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main sidebar"
        "main  sidebar"
        "footer footer";
    ;
    padding: 3rem 2rem;

    max-width: 75rem;
    width: 80%;
    margin: auto;

}

.sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--twilight-indigo);
    color: var(--jet-black);
    text-align: end;
    right: 5rem;
    padding-right: 1rem;
    text-transform: uppercase;


}

.main {
    grid-area: main;
    padding: var(--space-lg);
    color: var(--jet-black);

    margin-left: 2rem;
}



.footer {
    grid-area: footer;
    padding: var(--space-md);
    text-align: center;
    color: var(--color-text);
}


.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    z-index: 9998;
    scroll-behavior: disabled;
}