/* those are for testing */

.appWrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 15rem;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main sidebar"
        "main  sidebar"
        "footer footer";
    ;
    padding: 3rem 2rem;
    background-color: var(--frozen-water);

}

.sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--twilight-indigo);
    color: var(--jet-black);
    text-align: end;
    right: 5rem;
    padding-right: 1rem;
    text-transform: uppercase;
    display: block;
}

.main {
    grid-area: main;
    padding: var(--space-lg);
    color: var(--jet-black);

    margin-left: 2rem;
}



.footer {
    grid-area: footer;
    padding: var(--space-md);
    text-align: center;
    color: var(--color-text);
}