.gameNavigation {
    display: flex;
    gap: .4rem;
    justify-content: center;

    & button {
        cursor: pointer;
        border: 2px solid green;
        padding: .2rem .4rem;
        border-radius: .6rem;
    }

    & button:hover {
        background-color: darkgray;
        color: white;
        transform: scale(115%);
        transition: ease-in-out;

    }
}