.gameNavigation {
    display: flex;
    gap: .4rem;
    justify-content: center;
    flex-wrap: wrap;

    & button {
        text-transform: uppercase;
        background-image: url("/public//assets/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        border: 3px solid var(--inventory-border);
        padding: .4rem .8rem;
        border-radius: 6px;
        font-weight: var(--weight-bold);
    }

    & button:hover {
        transform: scale(115%);
        transition: ease-in-out;

    }

    & button:focus {
        outline: none;
        border: 3px solid green;
    }


}

.gameNavigation .active {
    border: 3px solid green;
    background-image: url("/public//assets/green_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}