.homePage {
    padding: 0 var(--space-3xl);
    margin-inline: auto;
    max-width: 80ch;
}

.heroWrapper {
    font-size: var(--font-size-2xl);
    text-align: center;
    margin-block: var(--space-2xl);

}

.hero {
    font-family: var(--font-ui);
    font-weight: var(--weight-regular);
}

.heroName {
    color: var(--color-jet-black);
    font-family: var(--font-heading);
    font-size: clamp(var(--font-size-2xl), 5vw, calc(var(--font-size-3xl) * 2));
    font-weight: var(--weight-bold);
    line-height: var(--lh-tight);
}

.heroSubtitle {
    margin-top: var(--space-xl);

}

.section {
    margin: var(--space-4xl) 0;
}

.sectionHeader {
    margin-bottom: var(--space-xl);
    border-bottom: var(--border-thin) solid var(--color-powder-blue);
    color: var(--color-powder-blue);
    display: flex;
    align-items: baseline;
    gap: var(--space-md);
    font-size: var(--font-size-3xl);

}

.header {

    font-weight: var(--weight-medium)
}

.sectionNumber {
    font-family: var(--font-jb-mono);
    font-size: var(--font-size-lg);
}

.cardWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-md)
}




/* CONTACTS */

.contacts {
    display: flex;
    align-items: baseline;
}

.navIcons {
    display: flex;
    justify-content: flex-end;

    list-style: none;
    gap: var(--space-md);

    margin-right: var(--space-xl);
}


.navIcons svg {
    width: var(--font-size-2xl);
    height: var(--font-size-2xl);

    cursor: pointer;
    transition: transform 0.2s ease;
}

.navIcons svg:hover {
    transform: scale(1.15);
}


.backdrop {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);

    z-index: 9998;
}