.homePage {
    padding: 0 clamp(0px, 2vw, var(--space-3xl));
    margin-inline: auto;
    max-width: 80ch;
}

.heroWrapper {
    font-size: clamp(var(--font-size-lg), 5vw, var(--font-size-2xl));
    text-align: center;
    margin-block: var(--space-2xl);

}

.hero {
    font-family: var(--font-ui);
    font-weight: var(--weight-regular);
}

.heroName {
    color: var(--color-jet-black);
    font-family: var(--font-heading);
    font-size: clamp(var(--font-size-3xl), 7vw, calc(var(--font-size-3xl) * 2));
    font-weight: var(--weight-bold);
    line-height: var(--lh-tight);
}

.heroSubtitle {
    margin-top: var(--space-xl);
    padding-inline: clamp(0px, vw, var(--space-3xl));

}

.section {
    margin: clamp(var(--space-3xl), 15vw, var(--space-4xl)) 0;
}

.sectionHeader {
    margin-bottom: var(--space-xl);
    border-bottom: var(--border-thin) solid var(--color-powder-blue);
    color: var(--color-powder-blue);
    display: flex;
    align-items: baseline;
    gap: var(--space-md);
    font-size: var(--font-size-3xl);

}

.header {

    font-weight: var(--weight-medium)
}

.sectionNumber {
    font-family: var(--font-jb-mono);
    font-size: var(--font-size-lg);
}




.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-md);
}


/* CONTACTS */

.contacts {
    display: flex;
    align-items: baseline;
}

.navIcons {
    display: flex;
    justify-content: flex-end;

    list-style: none;
    gap: var(--space-md);

    margin-right: var(--space-xl);
}


.navIcons svg {
    color: var(--color-jet-black);
    width: var(--font-size-2xl);
    height: var(--font-size-2xl);

    cursor: pointer;
    transition: transform 0.2s ease;
}

.navIcons svg:hover {
    transform: scale(1.15);
}


@media (max-width:426px) {
    .homePage {
        padding: 0;
    }
}