.cardWrapper {
    border-radius: var(--radius-lg);
    border: var(--border-thin) solid var(--color-powder-blue);
    min-height: 24rem;
    padding: clamp(var(--space-md), 2vw, var(--space-xl));
    transition: transform 0.3s ease-in-out;
    width: 19.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@container (min-width: 312px) {
    .cardWrapper {
        min-width: 16rem;
        width: calc(50% - var(--space-md));
    }
}

.cardWrapper:hover {
    background-color: #ffff;
    box-shadow: var(--shadow-md);
    outline: var(--border-medium) solid var(--color-rich-cerulean);
    transform: scale(1.02);

    & .technologies li {
        border: var(--border-thin) solid var(--color-jet-black);
        color: var(--color-jet-black);
    }

    & .description {
        color: var(--color-jet-black);
    }
}

.header {
    font-size: var(--font-size-2xl);
}

.description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    color: var(--color-powder-blue);
    display: -webkit-box;
    line-clamp: 5;
    margin-block: var(--space-md);
    overflow: hidden;
}


.technologies {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-jb-mono);
    gap: var(--space-sm);
    list-style: none;
    padding: 0;


    & li {
        border-radius: var(--radius-lg);
        border: var(--border-thin) solid var(--color-powder-blue);
        color: var(--color-powder-blue);
        padding: var(--space-xs) var(--space-sm);
    }
}

.actions {
    display: flex;
    gap: var(--space-sm);
}

.linkButton {
    background-color: var(--color-jet-black);
    border-radius: var(--radius-lg);
    border: var(--border-thin) solid var(--color-jet-black);
    color: var(--color-powder-blue);
    font-family: var(--font-jb-mono);
    margin-block: var(--space-sm);
    padding: var(--space-xs) var(--space-sm);
}

.linkButton:hover {
    background-color: #ffff;
    color: var(--color-jet-black);
}

.linkButton:focus-visible {
    background-color: #ffff;
    color: var(--color-jet-black);
    border: var(--border-medium) solid var(--color-jet-black);
    outline-offset: 2px;
}





@media (max-width: 768px) {
    .cardWrapper {
        width: 80%;
        margin: auto;
    }
}