.loginFormWrapper {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    color: var(--game-dark-blue);


}

.loginFormCard {
    border-radius: var(--border-medium);
    box-shadow:
        inset 0 0 4px 1px #f3e7cd,
        inset 0 0 2px 3px #8b6a3e,
        inset 0 0 0 1px #d9c08f;
    background-color: var(--game-bg);
    outline: 2px solid var(--game-dark-brown);
    display: flex;
    flex-direction: column;
    padding: 2.2rem 1.6rem;

}

.loginHeader {
    color: var(--game-dark-blue);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-2xl);
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;

}

.loginForm input {
    font-weight: var(--weight-bold);
    color: var(--game-dark-blue);
}

.loginButton {
    color: var(--game-dark-blue);
    margin-top: 1.5rem;
    font-weight: var(--weight-bold);
    padding: var(--space-sm) var(--space-xl);
    border-radius: var(--radius-md);
    border: 3px solid var(--inventory-border);
    box-shadow:
        inset 0 0 4px 1px #f3e7cd,
        inset 0 0 2px 3px #8b6a3e,
        inset 0 0 0 1px #d9c08f;
    background-color: var(--game-bg);
    outline: 2px solid var(--game-dark-brown);
    font-size: var(--font-size-2xl);
    transition: background-color 0.3s ease, color 0.5s ease;
    width: 15rem;
    background-image: url("/assets/noise_filter.png");
}


.loginButton:hover,
.loginButton:focus {
    background-color: var(--inventory-border);
    color: white;
}

.formNavigation {

    all: unset;
    text-align: center;
    font-size: var(--font-size-sm);
    line-height: var(--lh-tight);

    &:hover {
        font-weight: 600;
        cursor: pointer;
    }
}