.modalWrapper {
    display: block;
    max-width: 40rem;
    max-height: 70rem;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

}

.modalWrapper::backdrop {
    filter: blur(4px);
}